name: CI Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run sample command
        run: echo "CI pipeline running successfully"

steps:
  - name: Checkout code
    uses: actions/checkout@v4

  - name: Give execute permission
    run: chmod +x deploy.sh

  - name: Run deployment script
    run: ./deploy.sh

